<?xml version="1.0" encoding="utf-8"?>

<rss version="2.0">
<channel>
    <title>news</title>
    <link>http://hofst.com</link>
    <description>Better than Feedly!</description>
    <pubDate>{{=datetime.now().strftime("%Y-%m-%dT%H:%M:%S")}}</pubDate>
    {{for n in news:}}
        <item>
            <title>{{=s(n.title)}}</title>
            <description>{{=s(n.origin_title + ": <br>" + n.content)}}</description>
            <link>{{=n.link}}</link>
            <author>{{=s(n.author or n.origin_title)}}</author>
            <guid>{{=n.key.id()}}</guid>
            <pubDate>{{=n.crawled.strftime("%Y-%m-%dT%H:%M:%S")}}</pubDate>
            <image>{{=n.image}}</image>
        </item>
    {{pass}}
</channel>
</rss>