<?xml version="1.0" encoding="utf-8"?>

<rss version="2.0">
<channel>
    <title>Hofstapp Feeds</title>
    <link>http://hofst.com</link>
    <description>Better than Feedly!</description>
    <pubDate>{{=datetime.now()}}</pubDate>
    {{for n in news:}}
        <item>
            <title>{{=n.title}}</title>
            <description>{{=n.content}}</description>
            <link>{{=n.link}}</link>
            <author>{{=n.author}}</author>
            <guid>{{=n.key.id()}}</guid>
            <pubDate>{{=n.pubDate}}</pubDate>
            <unread>{{=n.unread}}</unread>
            <image>{{=n.image}}</image>
        </item>
    {{pass}}
</channel>
</rss>